$border-radius-big: 4rem;
$border-radius-m: 2rem;
$border-radius-s: 1.2rem;
$border-radius-xs: 0.7rem;

$width-nav-hidden: 24px;

$standard_page_margins: 25px 50px 50px 100px;

// max content width applies to a piece of content not the window itself.
$max-content-width: 720px;

// Responsive breakpoints
$tablet-width: 768px;
$desktop-width: 1024px;

$modal-z: 100;

// Overloaded this term because i've simply fucked it up too many times to care now.
@mixin mobile {
  @media (min-width: #{0px}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}
@mixin phone {
  @media (min-width: #{0px}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #db8653;
$primary2: #bd774d;
$primary_faded: rgba($primary, 0.1);
$WT_gray0: #a7a7a7;
$WT_gray1: #9b9b9b;
$WT_gray2: #858b97;
$WT_grayd: #959595;
$WT_grayl: #eaeaea;
$WT_white: #ffffff;
$WT_background: #fcfcfc;
$WT_blue: #005062;

$primary-invert: findColorInvert($primary);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$background-color: #eaeaea;
$white: #ffffff;
$gray: #8f9aa5;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  "white": (
    $white,
    $black,
  ),
  "black": (
    $black,
    $white,
  ),
  "light": (
    $light,
    $light-invert,
  ),
  "dark": (
    $dark,
    $dark-invert,
  ),
  "primary": (
    $primary,
    $primary-invert,
  ),
  "info": (
    $info,
    $info-invert,
  ),
  "success": (
    $success,
    $success-invert,
  ),
  "warning": (
    $warning,
    $warning-invert,
  ),
  "danger": (
    $danger,
    $danger-invert,
  ),
  "twitter": (
    $twitter,
    $twitter-invert,
  ),
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Unna", serif;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

html,
body {
  h1 {
    font-weight: 900;
  }
}

:root {
  @include phone {
    font-size: 16px;
    font-weight: 300;
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
    }
    h1 {
      font-size: 46px;
    }
    h2 {
      font-size: 38px;
      font-weight: 500;
    }
    h3 {
      font-size: 32px;
      font-weight: 500;
    }
    h4 {
      font-size: 26px;
      font-weight: 400;
    }
    h5 {
      font-size: 24px;
      font-weight: 300;
    }
    h6 {
      font-weight: 300;
      font-size: 22px;
    }
    p {
      font-size: 18px;
    }
  }

  @include tablet {
    font-size: 18px;
    h1 {
      font-size: 52px;
    }
    h2 {
      font-size: 46px;
      font-weight: 500;
    }
    h3 {
      font-size: 38px;
      font-weight: 500;
    }
    h4 {
      font-size: 34px;
      font-weight: 400;
    }
    h5 {
      font-size: 22px;
      font-weight: 300;
    }
    h6 {
      font-size: 18px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
    }
  }

  @include desktop {
    font-size: 16px;
    h1 {
      font-size: 64px;
    }
    h2 {
      font-size: 48px;
      font-weight: 500;
    }
    h3 {
      font-size: 42px;
      font-weight: 500;
    }
    h4 {
      font-size: 32px;
      font-weight: 500;
    }
    h5 {
      font-size: 24px;
      font-weight: 300;
    }
    h6 {
      font-size: 20px;
      font-weight: 300;
    }
    p {
      font-size: 18px;
    }
  }
}
html,
body,
.navbar {
  background-color: $background-color;
}
#app {
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

/* Vue calendar options */

.vuecal__menu,
.vuecal__cell-events-count {
  background-color: $primary2;
}
.vuecal__title-bar {
  background-color: $primary;
}
.vuecal__cell--today,
.vuecal__cell--current {
  background-color: rgba(240, 240, 255, 0.4);
}
.vuecal:not(.vuecal--day-view) .vuecal__cell--selected {
  border-color: $primary_faded;
}
.vuecal__cell--selected:before {
  border-color: rgba($primary, 0.8);
}
/* Cells and buttons get highlighted when an event is dragged over it. */
.vuecal__cell--highlighted:not(.vuecal__cell--has-splits),
.vuecal__cell-split--highlighted {
  background-color: rgba($primary, 0.1);
  border-color: $WT_grayd;
  // background-color: rgba(195, 255, 225, 0.5);
}
.vuecal__arrow.vuecal__arrow--highlighted,
.vuecal__view-btn.vuecal__view-btn--highlighted {
  background-color: rgba(136, 236, 191, 0.25);
}

.vuecal--month-view .vuecal__cell {
  height: 80px;
}

.vuecal--month-view .vuecal__cell-content {
  justify-content: flex-start;
  height: 100%;
  align-items: flex-end;
}

.vuecal--month-view .vuecal__cell-date {
  padding: 4px;
}
.vuecal--month-view .vuecal__no-event {
  display: none;
}

.vuecal__event--dragging {
  background-color: rgba(60, 60, 60, 0.3);
}
.vuecal__event {
  background-color: $WT_background;
}

.vuecal__cell {
  background-color: rgba($WT_grayl, 0.5);
}

section.tab-content {
  padding: 0px !important;
}
.b-tabs .tabs {
  padding: 0px !important;
}

.vuecal__flex.vuecal__weekdays-headings {
  @include mobile {
    padding-left: 8px !important;
    padding-right: 8px !important;
  }
}
.vuecal__time-column {
  @include mobile {
    width: 0px !important;
  }
}
